* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.container {
    max-width: 420px;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;

}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}



#result {
    text-align: center;
}

#result img {
    width: 40%;
}

#start-text {

    font-size: 26px;
    text-align: center;
    padding: 20px;

}

#group-btn {
    display: flex;
    width: 100%;
    align-self: baseline;
    margin: 20px;
}

#group-btn>button> {
    width: 100%;

}

footer {
    text-align: center;
    padding: 20px;
}

#players {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#players div {
    margin-right: 2rem;
}




#game-results {
    margin-top: 2rem;
    font-size: 1.2rem;
}

#round-winner {
    font-weight: bold;
}

#game-winner {
    font-weight: bold;
    margin-top: 1rem;
}